body {
    background-color: #C9E4CA;
}

.grid {
    color: brown;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(4, 100px);
    grid-gap: 1em;
    grid-template-areas: "banner banner"
                         "header header"
                         "sidebar-1 article"
                         "footer footer";
}

.banner {
    grid-row: 1;
    grid-column: 1 / 3;
    grid-area: banner;

    color: rgb(18, 214, 0);
}

header {
    /* Orientation */
    grid-row: 2;
    grid-column: 1 / 3;
    grid-area: header;


    list-style-type: none;
    /* border-width: 2px; 
    border-color: rgb(51, 51, 51);
    padding: 5px; */
    border: 3px solid brown;
    /* row-gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {

}

.home-button {
    justify-content: left;
}

.findmyplant-button {
    justify-content: center;
}

.searchbar {
    justify-content: right;
}

.banner {
    min-width: 100%;
    max-height:100%;
}

.sidebar-left {
    grid-row: 3;
    grid-column: 1 / 2;
    grid-area: sidebar-1;
}

article {
    grid-row: 3;
    grid-column: 2 / 3;
    grid-area: article;
}

/** express blog for query params **/
/** Example on fruits app for wrapping things **/
  
footer {
    grid-row: 4;
    grid-column: 1 / 3;
    grid-area: footer;
}