/* Nav button inspiration from https://codepen.io/davidicus/pen/emgQKJ */

/* Make buttons not turn purple on click */

/* Make buttons linking to amazon on donation */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    background-color:#f0ede3;
    /* font-family: 'Spectral', serif; */
    font-family: 'Work Sans', sans-serif;

}

* {
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    text-decoration: none;
    
    /* this moved everything */
    margin-inline-start: 0;
  }

.grid {
    color: brown;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: repeat(5, 100px);
    grid-gap: 0em;
    grid-template-areas: "banner banner"
                         "header header"
                         "fillerphoto-box fillerphoto-box"
                         "sidebar-1 article"
                         "footer footer";
}

.banner {
    grid-row: 1;
    grid-column: 1 / 3;
    grid-area: banner;

    background-color: #ADC178;
    color: rgb(18, 214, 0);

    min-width: 100%;
    max-height:100%;

    box-sizing: border-box;
    display: box;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    transform: translateZ(0);
    margin: 0;
}

    .banner-body {
    }


header {
    /* Orientation */
    grid-row: 2;
    grid-column: 1 / 3;
    grid-area: header;

    border: 3px solid rgb(0, 0, 0);

    /* justify-content: space-evenly; */
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}


.navbar {

    /* These actually keep the elements in a line, not sure how with grid as well */
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    letter-spacing: 0;
}

    .plantlogo {
        margin: 0 0 0 40px;
        font-size: 35px;
        font-family: 'Spectral', serif;
        color: #6C584C;

    }

    .fa-seedling {
        font-size: 30px;
        color: #aac560;
    }

    .navbutton {
        /* background-color:  #b5e0b6; */
        padding: 1em;
        text-align: center;
        background:#f0ede3;
        border: none;
    }

     .navbutton:hover, .navbutton:active {
        letter-spacing: 6px;
    }

    a {
        text-align: center;
    }

        .home-button {
            color: #6C584C;
        }

        .findmyplant-button {
            justify-content: center;
            color: #6C584C;
        }

        .searchbar {
            justify-content: right;
            color: #6C584C;
            border: none;
            background-color: #f0ede3;   
        }

            .searchbutton {
                color: #6C584C;
                border: none;
            }

            .searchbutton:hover {
                color: #504239;
            }

            .searchfield {
                background-color: #f5f4f0;
                border: outset;
                border-color: #A98467;
            }

.fillerphoto-box {
    grid-row: 3;
    grid-column: 1 / 3;
    grid-area: fillerphoto-box;

    box-sizing:border-box;
    min-width: 100%;
    max-height: 30%;

    border: solid black;
}

    .photo-wrapper {
        display: flex;
    }

        .123 {
            align-items: center;
        }


        .fillerphoto {
            min-width: 100%;
            max-height: 30%;
        }


.button {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.sidebar-left {
    grid-row: 4;
    grid-column: 1 / 2;
    grid-area: sidebar-1;

    border: 3px solid rgb(6, 61, 145);
}


article {
    grid-row: 4;
    grid-column: 2 / 3;
    grid-area: article;
}

    .plant-item_container {
        display: flex;
    }

        .plant-item {
            flex-wrap: wrap;
            list-style: none;
        }



/** express blog for query params **/
/** Example on fruits app for wrapping things **/
  
footer {
    grid-row: 5;
    grid-column: 1 / 3;
    grid-area: footer;

    border: 3px solid brown;
}

