<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog | Articles</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
                    </li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Edit <%= review.comment %></h1>
			<form action="/show/<%=review._id%>/<%=plantid%>?_method=PUT" method="POST">
					<input
                        name = "comment"
                        type="text"
						value="<%= review.comment %>"
					/>
				<input type="submit" value="Done" />
			</form>
		</main>
	</body>
</html>
