<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/findmyplant.css">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Find My Plant</title>
</head>
<body>
  <section class="grid">
      
      <div class="banner">
      </div>
    
      <header class="navbar">
          
          <div class="plantlogo">Leafly
            <i class="fas fa-seedling"></i>
          </div>
          
          <a href="/"><button class="home-button navbutton button">Home</button></a>
          
          <a href="https://saveplants.org/"><button class="conservation-button navbutton button">Conservation</button></a>


          <form class="searchbar navbutton button" action="/show/search" method="GET">


            <input class="search-box_field" type="text" name="name" placeholder="Plant Name" />
            <input class="search-box_button button" type="submit" value="Search"/>

          </form>

        </header>


        <div class="fillerphoto-box">
            <div class="photo-wrapper">
                <img class="fillerphoto" src="https://images.unsplash.com/photo-1592150621744-aca64f48394a?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8& ixlib=rb-1.2.1&auto=format&fit=crop&w=1368&q=80"/>
                
                <!-- <div class="text-background"> -->
                  <div class="img-text">
                    Find Your Plant Today
                  </div>
                <!-- </div> -->

            </div>
        </div>

        <!-- PLANT SEARCH FILTER -->
        <aside class="sidebar-left">
          
            <div class="search-filter_container">

            <form id="filter" action="/show/filter">

            <select class="example" name="water" required>
                <option name="" value="" selected>Water Needed</i></option>
                <option name="table1" value="1"> 1</option>
                <option name="table2" value="2"> 2</option>
                <option name="table3" value="3"> 3</option>
                <option name="table4" value="4"> 4</option>
                <option name="table5" value="5"> 5</option>
                <!-- <i class="fas fa-tint"></i>  Did not work -->
            </select>

            <br> 

            <select class="example" name="light" required>
              <option name="" value="" selected>Light Level</option>
              <option name="table1" value="1"> 1</option>
              <option name="table2" value="2"> 2</option>
              <option name="table3" value="3"> 3</option>
            </select>
                
                <!-- Ron had this in and I'm not sure why -->
                <!-- <select class="example" name="price" required>
                  <option name="" value="" selected>Price</option>
                  <option name="table1" value="1"> 1</option>
                  <option name="table2" value="2"> 2</option>
                  <option name="table3" value="3"> 3</option>

                  <option name="table4" value="4"> 4</option>
                  <option name="table5" value="5"> 5</option>
                </select> -->

            <br> 
            <select class="example" name="humidity" required>
              <option name="" value="" selected>Humidity</option>
              <option name="table1" value="1"> 1</option>
              <option name="table2" value="2"> 2</option>
              <option name="table3" value="3"> 3</option>
              <option name="table4" value="4"> 4</option>
              <option name="table5" value="5"> 5</option>
            </select>
            <br> 
            <select class="example" name="price" required>
              <option name="" value="" selected>Price</option>
              <option name="table1" value="1"> 1</option>
              <option name="table2" value="2"> 2</option>
              <option name="table3" value="3"> 3</option>
              <option name="table4" value="4"> 4</option>
              <option name="table5" value="5"> 5</option>
            </select>
            <br> 

            
            <input class=" search-filter_button button" type="submit" value="Search">
            
          </form>
          
          
          <form method="get" action="/">
            <button class=" search-clear_button button" type="submit">Clear</button>
          </form>


      </aside>
    
        <article class="search-filter_box">
            <div class="plant-flex_box">

              <% plants.forEach(plant => { %>
                
                <div class="plant-item_container">
                  
                  <div class="plant-img_div">
                    <img class="plant-img" src="<%=plant.image%>"/>
                  </div>
                  
                  <div class="plant-text">
                      <a class="plant-text_anchor" href="/show/<%= plant._id %>"><%= plant.name %></a>
                  </div>

                </div>
              <% })%>

            </div> 
        </article>

        
        <footer>
          <article>
            Copyright© images from https://moderngarden.co/
          </article>
        </footer>
      <!-- <h1>Search for your plant</h1>
      <header></header>
      <nav>
          <ul>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li>
                  <input type="checkbox" value="Search" label="label"/>
              </li>
          </ul>
      </nav> -->
  </section>     

</body>
</html>
