<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/findmyplant.css">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Find My Plant</title>
</head>
<body>
<section class="grid">
    
    <section class="banner">
      <div class ="banner-body"></div>
    </section>

  
      <header class="navbar">
        
        <div class="plantlogo">Leafly
          <i class="fas fa-seedling"></i>
        </div>
        
        <a href="/"><button class="navbar home-button navbutton button">Home</button></a>
        
        <a href="/"><button class="navbar findmyplant-button navbutton button">Something</button></a>


        <form class="searchbar navbutton button" action="/show/search" method="GET">


          <input class="searchfield" type="text" name="name" placeholder="Plant Name" />
          <input class="searchbutton button" type="submit" value="Search"/>

        </form>

      </header>

      <div class="fillerphoto-box">
          <div class="photo-wrapper">

            <div class="test">
              <img class="fillerphoto" src="https://images.unsplash.com/photo-1592150621744-aca64f48394a?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8& ixlib=rb-1.2.1&auto=format&fit=crop&w=1368&q=80"/>
            </div>

          </div>
      </div>


      <!-- PLANT FILTER -->
      <aside class="sidebar-left">
        Left Sidebar
        
        
        
        <form id="filter" action="/show/filter">
            <select class="example" name="light">
                  <option name="" value="0" selected>Light Level</option>
                  <option name="table1" value="1"> 1</option>
                  <option name="table2" value="2"> 2</option>
                  <option name="table3" value="3"> 3</option>
            </select>
            
            <select class="example" name="price">
              <option name="" value="0" selected>Price</option>
              <option name="table1" value="1"> 1</option>
              <option name="table2" value="2"> 2</option>
              <option name="table3" value="3"> 3</option>
            </select>
            
            <input type="submit" value="go">
            
        </form>

    
        <form method="get" action="/">
          <button class="button" type="submit">Clear Search</button>
        </form>

      </aside>
    


      <article>
        <ul class="plant-item_container">
          <% plants.forEach(plant => { %>
          <li class="plant-item">
              <a href="/show/<%= plant._id %>"> <%= plant.name %></a>
          </li>
          <% })%>
        </ul>
      </article>

      
      <footer>
        Footer
      </footer>
    <!-- <h1>Search for your plant</h1>
    <header></header>
    <nav>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li>
                <input type="checkbox" value="Search" label="label"/>
            </li>
        </ul>
    </nav> -->
</section>


    <!-- <form action="" method="GET">
        
        <div>
        <p>* Icons for ease of care *</p><input type="checkbox" value="Search" label="label"/>
        </div>
        
        


        <br>
        <br>
        <input type="checkbox" value="Search">Test </input>
        <input type="checkbox" value="Search">Test </input>
        <br>

        <input type="button" value="Submit Changes">
        </form>

        <br>

      <a href="/findmyplant">Clear Search</a>


      <p>There are no plants that fit this criteria</p> -->
     

</body>
</html>
