<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO at ROOT</h1>

    <main>
      <h2>List of Plants</h2>
      <ul>
        <% findmyplant.forEach ( plant => { %>
          <li><%= plant.name %> <img src='<%= plant.image %>'alt="circle" width="300px" height="300px">
              <a href="/plants/<%= plant._id %>">View Plants</a></li>
          <% }) %>
      </ul>
    </main>

</body>
</html>